<a href="https://colab.research.google.com/github/saranyapalani/project/blob/master/new_sam.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import pandas as pd
import numpy as np
import matplotlib.ticker as ticker
from sklearn import preprocessing
%matplotlib inline

In [21]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [22]:
df=pd.read_csv('/content/drive/My Drive/fin.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [23]:
df['Weapon'].value_counts()

Handgun          317484
Knife             94962
Blunt Object      67337
Firearm           46980
Unknown           33192
Shotgun           30722
Rifle             23347
Strangulation      8110
Fire               6173
Suffocation        3968
Gun                2206
Drugs              1588
Drowning           1204
Explosives          537
Poison              454
Fall                190
Name: Weapon, dtype: int64

In [24]:
df['Weapon'].replace(to_replace=['Handgun','Knife','Blunt Object','Firearm','Unknown','Shotgun','Rifle','Strangulation','Fire','Suffocation','Gun','Drugs','Drowning','Explosives','Poison','Fall'], value=[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15],inplace=True)
df.head()

   Record ID       Agency Type  ... Victim Count Perpetrator Count
0          1  Municipal Police  ...            0                 0
1          2  Municipal Police  ...            0                 0
2          3  Municipal Police  ...            0                 0
3          4  Municipal Police  ...            0                 0
4          5  Municipal Police  ...            0                 1

[5 rows x 19 columns]

In [26]:
Feature = df[['Year','Victim Count','Victim Age','Weapon']]
Feature = pd.concat([Feature,pd.get_dummies(df['Weapon'])], axis=1)
Feature.head()

   Year  Victim Count  Victim Age  Weapon  0  1  2  ...  9  10  11  12  13  14  15
0  2019             0          14       2  0  0  1  ...  0   0   0   0   0   0   0
1  2019             0          43       7  0  0  0  ...  0   0   0   0   0   0   0
2  2019             0          30       4  0  0  0  ...  0   0   0   0   0   0   0
3  2019             0          43       7  0  0  0  ...  0   0   0   0   0   0   0
4  2019             0          30       4  0  0  0  ...  0   0   0   0   0   0   0

[5 rows x 20 columns]

In [27]:
X = Feature
X[0:5]

   Year  Victim Count  Victim Age  Weapon  0  1  2  ...  9  10  11  12  13  14  15
0  2019             0          14       2  0  0  1  ...  0   0   0   0   0   0   0
1  2019             0          43       7  0  0  0  ...  0   0   0   0   0   0   0
2  2019             0          30       4  0  0  0  ...  0   0   0   0   0   0   0
3  2019             0          43       7  0  0  0  ...  0   0   0   0   0   0   0
4  2019             0          30       4  0  0  0  ...  0   0   0   0   0   0   0

[5 rows x 20 columns]

In [28]:
y = pd.get_dummies(df['Weapon']).values
y[0:15]

array([[0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1],
       [1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]], dtype=uint8)

In [29]:
X= preprocessing.StandardScaler().fit(X).transform(X)
X[0:15]

array([[ 1.23378382e+00, -2.29358919e-01, -5.05269868e-01,
         1.85814226e-01, -9.94554761e-01, -4.18001989e-01,
         2.91229699e+00, -2.81830945e-01, -2.34177414e-01,
        -2.24837470e-01, -1.94822991e-01, -1.13428350e-01,
        -9.88082193e-02, -7.90814839e-02, -5.88829472e-02,
        -4.99345588e-02, -4.34668653e-02, -2.90138295e-02,
        -2.66758083e-02, -1.72534769e-02],
       [ 1.23378382e+00, -2.29358919e-01,  1.91372045e-01,
         2.40042942e+00, -9.94554761e-01, -4.18001989e-01,
        -3.43371573e-01, -2.81830945e-01, -2.34177414e-01,
        -2.24837470e-01, -1.94822991e-01,  8.81613810e+00,
        -9.88082193e-02, -7.90814839e-02, -5.88829472e-02,
        -4.99345588e-02, -4.34668653e-02, -2.90138295e-02,
        -2.66758083e-02, -1.72534769e-02],
       [ 1.23378382e+00, -2.29358919e-01, -1.20915709e-01,
         1.07166031e+00, -9.94554761e-01, -4.18001989e-01,
        -3.43371573e-01, -2.81830945e-01,  4.27026664e+00,
        -2.24837470e-01, -1.94822991e-01, -1.13428350e-01,
        -9.88082193e-02, -7.90814839e-02, -5.88829472e-02,
        -4.99345588e-02, -4.34668653e-02, -2.90138295e-02,
        -2.66758083e-02, -1.72534769e-02],
       [ 1.23378382e+00, -2.29358919e-01,  1.91372045e-01,
         2.40042942e+00, -9.94554761e-01, -4.18001989e-01,
        -3.43371573e-01, -2.81830945e-01, -2.34177414e-01,
        -2.24837470e-01, -1.94822991e-01,  8.81613810e+00,
        -9.88082193e-02, -7.90814839e-02, -5.88829472e-02,
        -4.99345588e-02, -4.34668653e-02, -2.90138295e-02,
        -2.66758083e-02, -1.72534769e-02],
       [ 1.23378382e+00, -2.29358919e-01, -1.20915709e-01,
         1.07166031e+00, -9.94554761e-01, -4.18001989e-01,
        -3.43371573e-01, -2.81830945e-01,  4.27026664e+00,
        -2.24837470e-01, -1.94822991e-01, -1.13428350e-01,
        -9.88082193e-02, -7.90814839e-02, -5.88829472e-02,
        -4.99345588e-02, -4.34668653e-02, -2.90138295e-02,
        -2.66758083e-02, -1.72534769e-02],
       [ 1.23378382e+00, -2.29358919e-01, -1.20915709e-01,
         1.95750638e+00, -9.94554761e-01, -4.18001989e-01,
        -3.43371573e-01, -2.81830945e-01, -2.34177414e-01,
        -2.24837470e-01,  5.13286442e+00, -1.13428350e-01,
        -9.88082193e-02, -7.90814839e-02, -5.88829472e-02,
        -4.99345588e-02, -4.34668653e-02, -2.90138295e-02,
        -2.66758083e-02, -1.72534769e-02],
       [ 1.23378382e+00, -2.29358919e-01,  1.67349910e-01,
        -2.57108814e-01, -9.94554761e-01,  2.39233311e+00,
        -3.43371573e-01, -2.81830945e-01, -2.34177414e-01,
        -2.24837470e-01, -1.94822991e-01, -1.13428350e-01,
        -9.88082193e-02, -7.90814839e-02, -5.88829472e-02,
        -4.99345588e-02, -4.34668653e-02, -2.90138295e-02,
        -2.66758083e-02, -1.72534769e-02],
       [ 1.23378382e+00, -2.29358919e-01,  1.53661160e+00,
        -2.57108814e-01, -9.94554761e-01,  2.39233311e+00,
        -3.43371573e-01, -2.81830945e-01, -2.34177414e-01,
        -2.24837470e-01, -1.94822991e-01, -1.13428350e-01,
        -9.88082193e-02, -7.90814839e-02, -5.88829472e-02,
        -4.99345588e-02, -4.34668653e-02, -2.90138295e-02,
        -2.66758083e-02, -1.72534769e-02],
       [ 1.23378382e+00, -2.29358919e-01, -7.28714394e-02,
         6.28737266e-01, -9.94554761e-01, -4.18001989e-01,
        -3.43371573e-01,  3.54822640e+00, -2.34177414e-01,
        -2.24837470e-01, -1.94822991e-01, -1.13428350e-01,
        -9.88082193e-02, -7.90814839e-02, -5.88829472e-02,
        -4.99345588e-02, -4.34668653e-02, -2.90138295e-02,
        -2.66758083e-02, -1.72534769e-02],
       [ 1.23378382e+00, -2.29358919e-01,  7.12613701e-02,
         6.28737266e-01, -9.94554761e-01, -4.18001989e-01,
        -3.43371573e-01,  3.54822640e+00, -2.34177414e-01,
        -2.24837470e-01, -1.94822991e-01, -1.13428350e-01,
        -9.88082193e-02, -7.90814839e-02, -5.88829472e-02,
        -4.99345588e-02, -4.34668653e-02, -2.90138295e-02,
        -2.66758083e-02, -1.72534769e-02],
       [ 1.23378382e+00, -2.29358919e-01,  2.32171003e-02,
         1.07166031e+00, -9.94554761e-01, -4.18001989e-01,
        -3.43371573e-01, -2.81830945e-01,  4.27026664e+00,
        -2.24837470e-01, -1.94822991e-01, -1.13428350e-01,
        -9.88082193e-02, -7.90814839e-02, -5.88829472e-02,
        -4.99345588e-02, -4.34668653e-02, -2.90138295e-02,
        -2.66758083e-02, -1.72534769e-02],
       [ 1.23378382e+00, -2.29358919e-01, -3.61137059e-01,
         1.51458334e+00, -9.94554761e-01, -4.18001989e-01,
        -3.43371573e-01, -2.81830945e-01, -2.34177414e-01,
         4.44765723e+00, -1.94822991e-01, -1.13428350e-01,
        -9.88082193e-02, -7.90814839e-02, -5.88829472e-02,
        -4.99345588e-02, -4.34668653e-02, -2.90138295e-02,
        -2.66758083e-02, -1.72534769e-02],
       [ 1.23378382e+00, -2.29358919e-01,  2.32171003e-02,
         1.85814226e-01, -9.94554761e-01, -4.18001989e-01,
         2.91229699e+00, -2.81830945e-01, -2.34177414e-01,
        -2.24837470e-01, -1.94822991e-01, -1.13428350e-01,
        -9.88082193e-02, -7.90814839e-02, -5.88829472e-02,
        -4.99345588e-02, -4.34668653e-02, -2.90138295e-02,
        -2.66758083e-02, -1.72534769e-02],
       [ 1.23378382e+00, -2.29358919e-01, -3.61137059e-01,
         5.94381374e+00, -9.94554761e-01, -4.18001989e-01,
        -3.43371573e-01, -2.81830945e-01, -2.34177414e-01,
        -2.24837470e-01, -1.94822991e-01, -1.13428350e-01,
        -9.88082193e-02, -7.90814839e-02, -5.88829472e-02,
        -4.99345588e-02, -4.34668653e-02, -2.90138295e-02,
        -2.66758083e-02,  5.79593324e+01],
       [ 1.23378382e+00, -2.29358919e-01,  3.11482719e-01,
        -7.00031854e-01,  1.00547505e+00, -4.18001989e-01,
        -3.43371573e-01, -2.81830945e-01, -2.34177414e-01,
        -2.24837470e-01, -1.94822991e-01, -1.13428350e-01,
        -9.88082193e-02, -7.90814839e-02, -5.88829472e-02,
        -4.99345588e-02, -4.34668653e-02, -2.90138295e-02,
        -2.66758083e-02, -1.72534769e-02]])

In [0]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split
import sklearn.metrics as metrics

In [31]:
dtmodel = DecisionTreeClassifier(criterion="entropy", max_depth = 4)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.33, random_state=42)
dtmodel.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='entropy',
                       max_depth=4, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [32]:
y_pred=dtmodel.predict(X_test)
TreeAccuracy=metrics.accuracy_score(y_test,y_pred)
TreeAccuracy

0.8250937396174475