<a href="https://colab.research.google.com/github/saranyapalani/project/blob/master/rf.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import sklearn.ensemble
from sklearn.ensemble import RandomForestClassifier

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
data=pd.read_csv('/content/drive/My Drive/god.csv')
data.head()

   id   REC                    Date Primary Type Arrest  Year
0   1  1153        01-01-2015 11:00         park     NO  2015
1   2  5131  11/28/2017 09:43:00 PM         park    YES  2017
2   3   310        12-11-2017 19:15         park    YES  2017
3   4   281        10-08-2017 03:00         park     NO  2017
4   5   620  03/28/2017 02:00:00 PM         park     NO  2017

In [0]:
data['Primary Type'].replace(to_replace=['commercial centers','others','park','street','residence','apartment'], value=[0,1,2,3,4,5],inplace=True)

In [0]:
def arrval(val):  
    if val == "NO" :
        return 0
    else:
      return 1

In [7]:
data['arrval'] = data.apply(lambda x: arrval(x["Arrest"]),axis =1 )
data.head()

   id   REC                    Date  Primary Type Arrest  Year  arrval
0   1  1153        01-01-2015 11:00             2     NO  2015       0
1   2  5131  11/28/2017 09:43:00 PM             2    YES  2017       1
2   3   310        12-11-2017 19:15             2    YES  2017       1
3   4   281        10-08-2017 03:00             2     NO  2017       0
4   5   620  03/28/2017 02:00:00 PM             2     NO  2017       0

In [8]:
X = data.drop(['id','Date','Arrest','arrval'],axis=1)
X.head()

    REC  Primary Type  Year
0  1153             2  2015
1  5131             2  2017
2   310             2  2017
3   281             2  2017
4   620             2  2017

In [11]:
y = data.drop(['id','Date','REC','Primary Type','Year','Arrest'],axis=1)
y.head()

   arrval
0       0
1       1
2       1
3       0
4       0

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state=43)

In [0]:
rf=RandomForestClassifier()

In [14]:
rf.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """Entry point for launching an IPython kernel.

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [0]:
predict_rf=rf.predict(X_test)

In [16]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,predict_rf)

0.8603902595065777