<a href="https://colab.research.google.com/github/saranyapalani/project/blob/master/sm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import itertools
import numpy as np
import matplotlib.pyplot as plt
from matplotlib.ticker import NullFormatter
import pandas as pd
import numpy as np
import matplotlib.ticker as ticker
from sklearn import preprocessing
%matplotlib inline

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [0]:
df=pd.read_csv('/content/drive/My Drive/new.csv')

In [0]:
df.head()

  Record ID       City   State  Year  ... weapons  victimcount crimetype target
0         1  Anchorage  Alaska  2014  ...   knife            0   Robbery      0
1         2  Anchorage  Alaska  2014  ...   knife            0   Robbery      0
2         3  Anchorage  Alaska  2014  ...   knife            0   Robbery      0
3         4  Anchorage  Alaska  2014  ...   knife            0   Robbery      0
4         5  Anchorage  Alaska  2014  ...   knife            0   Robbery      0

[5 rows x 14 columns]

In [0]:
df['target']=df.target
df.head()

  Record ID       City   State  Year  ... weapons  victimcount crimetype target
0         1  Anchorage  Alaska  2014  ...   knife            0   Robbery      0
1         2  Anchorage  Alaska  2014  ...   knife            0   Robbery      0
2         3  Anchorage  Alaska  2014  ...   knife            0   Robbery      0
3         4  Anchorage  Alaska  2014  ...   knife            0   Robbery      0
4         5  Anchorage  Alaska  2014  ...   knife            0   Robbery      0

[5 rows x 14 columns]

In [0]:
df.crimetype

0                  Robbery
1                  Robbery
2                  Robbery
3                  Robbery
4                  Robbery
                ...
300088    RobberyandMurder
300089    RobberyandMurder
300090    RobberyandMurder
300091    RobberyandMurder
300092    RobberyandMurder
Name: crimetype, Length: 300093, dtype: object

In [0]:
df[df.target==2].head()

       Record ID       City   State  ...  victimcount         crimetype  target
242434    242435  Anchorage  Alaska  ...            1  RobberyandMurder       2
242435    242436  Anchorage  Alaska  ...            1  RobberyandMurder       2
242436    242437  Anchorage  Alaska  ...            1  RobberyandMurder       2
242437    242438  Anchorage  Alaska  ...            1  RobberyandMurder       2
242438    242439  Anchorage  Alaska  ...            1  RobberyandMurder       2

[5 rows x 14 columns]

In [0]:
df['crimetype']=df.target.apply(lambda x: df.crimetype[x])
df.head()

  Record ID       City   State  Year  ... weapons  victimcount crimetype target
0         1  Anchorage  Alaska  2014  ...   knife            0   Robbery      0
1         2  Anchorage  Alaska  2014  ...   knife            0   Robbery      0
2         3  Anchorage  Alaska  2014  ...   knife            0   Robbery      0
3         4  Anchorage  Alaska  2014  ...   knife            0   Robbery      0
4         5  Anchorage  Alaska  2014  ...   knife            0   Robbery      0

[5 rows x 14 columns]

In [0]:
from matplotlib import pyplot as pyplot
%matplotlib inline

In [0]:
df0=df[df.target==0]
df1=df[df.target==1]
df2=df[df.target==2]

In [0]:
df2.head()

       Record ID       City   State  ...  victimcount crimetype  target
242434    242435  Anchorage  Alaska  ...            1   Robbery       2
242435    242436  Anchorage  Alaska  ...            1   Robbery       2
242436    242437  Anchorage  Alaska  ...            1   Robbery       2
242437    242438  Anchorage  Alaska  ...            1   Robbery       2
242438    242439  Anchorage  Alaska  ...            1   Robbery       2

[5 rows x 14 columns]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
x=df.drop(['Record ID','City','State','Year','Month','Incident','Crime Solved','Victim Sex','Victim Age','propertystolen','weapons','crimetype'],axis='columns')
x.head()

   victimcount  target
0            0       0
1            0       0
2            0       0
3            0       0
4            0       0

In [0]:
y=df.target

In [0]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [0]:
len(x_train)

240074

In [0]:
len(x_test)

60019

In [0]:
from sklearn.svm import SVC
model=SVC()

In [0]:
model.fit(x_train,y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [0]:
model.score(x_test,y_test)

1.0