<a href="https://colab.research.google.com/github/saranyapalani/project/blob/master/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import sklearn.ensemble
from sklearn.ensemble import RandomForestClassifier

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
data=pd.read_csv('/content/drive/My Drive/god.csv')
data.head()

   id   REC                    Date Primary Type Arrest  Year
0   1  1153        01-01-2015 11:00         park     NO  2015
1   2  5131  11/28/2017 09:43:00 PM         park    YES  2017
2   3   310        12-11-2017 19:15         park    YES  2017
3   4   281        10-08-2017 03:00         park     NO  2017
4   5   620  03/28/2017 02:00:00 PM         park     NO  2017

In [0]:
data['Primary Type'].replace(to_replace=['commercial centers','others','park','street','residence','apartment'], value=[0,1,2,3,4,5],inplace=True)

In [0]:
def arrval(val):  
    if val == "NO" :
        return 0
    else:
      return 1

In [6]:
data['arrval'] = data.apply(lambda x: arrval(x["Arrest"]),axis =1 )
data.head()

   id   REC                    Date  Primary Type Arrest  Year  arrval
0   1  1153        01-01-2015 11:00             2     NO  2015       0
1   2  5131  11/28/2017 09:43:00 PM             2    YES  2017       1
2   3   310        12-11-2017 19:15             2    YES  2017       1
3   4   281        10-08-2017 03:00             2     NO  2017       0
4   5   620  03/28/2017 02:00:00 PM             2     NO  2017       0

In [7]:
X = data.drop(['id','Date','Arrest','arrval'],axis=1)
X.head()

    REC  Primary Type  Year
0  1153             2  2015
1  5131             2  2017
2   310             2  2017
3   281             2  2017
4   620             2  2017

In [8]:
y = data.drop(['id','Date','REC','Primary Type','Year','Arrest'],axis=1)
y.head()

   arrval
0       0
1       1
2       1
3       0
4       0

In [0]:
from sklearn.metrics import accuracy_score

In [0]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import LabelEncoder
import sklearn.linear_model
import sklearn.ensemble
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import VotingClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.ensemble import GradientBoostingClassifier
estimators = []

In [0]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.20, random_state=43)

In [12]:
model1 = DecisionTreeClassifier()
estimators.append(('cart', model1))
model1.fit(X_train,y_train)

DecisionTreeClassifier(ccp_alpha=0.0, class_weight=None, criterion='gini',
                       max_depth=None, max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort='deprecated',
                       random_state=None, splitter='best')

In [13]:
pred_dec=model1.predict(X_test)
accuracy_score(y_test,pred_dec)

0.8605302091247151

In [18]:
model2 = LogisticRegression()
estimators.append(('logistic', model2))
model2.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [15]:
log_pred=model2.predict(X_test)
accuracy_score(y_test,log_pred)

0.6718381382702228

In [0]:
from sklearn.neighbors import KNeighborsClassifier

In [20]:
model3 = KNeighborsClassifier()
estimators.append(('neigh', model3))
model3.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [21]:
kmean_dec=model3.predict(X_test)
accuracy_score(y_test,kmean_dec)

0.8369786876724379

In [22]:
model4 =  RandomForestClassifier()
estimators.append(('rf', model4))
model4.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  This is separate from the ipykernel package so we can avoid doing imports until

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=None,
                       verbose=0, warm_start=False)

In [23]:
ran_dec=model4.predict(X_test)
accuracy_score(y_test,ran_dec)

0.8604402415130553